<!-- BEGIN #footer -->
<div id="footer">
    <!-- BEGIN #footer-texture -->
    <div id="footer-texture">
        <!-- BEGIN #footer-inner -->
        <div id="footer-inner">
            <!-- BEGIN #footer-columns -->
            <div id="footer-columns" class="clearfix">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
            <!-- END #footer-columns -->
            <p class="copyright clear">
                本站前端使用 <a href="http://www.zhangenrui.cn/">RUIBlog</a> 的模板开发
                <br/>
                Copyright 2015
                <a href="/"> © liuzexiao.com</a>
                All rights reserved. <a href="http://www.miibeian.gov.cn/">京ICP备15011709号-1</a> 
            </p>
            <!-- END #footer-inner -->
        </div>
        <!-- END #footer-texture -->
    </div>
    <!-- END #footer -->
</div>
<!--END body-->
</body>
<!--END html-->
</html>