<!DOCTYPE HTML>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/public/css/style.css" type="text/css" media="screen" />
	<script type='text/javascript' src='/public/js/jquery-1.4.2.js'></script>
	<script type='text/javascript' src='/public/js/jquery-ui-1.8.5.custom.min.js'></script>
	<script type='text/javascript' src='/public/js/jquery.custom.js'></script>
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	<link id="favicon" href="/public/favicon.ico" rel="icon" type="image/x-icon" />
	<title>梦醒人间看微雨 | 江山还似旧温柔</title>
	<meta name="description" content="梦醒人间看微雨 江山还似旧温柔 人生若只如初见 何事秋风悲画扇" />
	<meta name="keywords" content="PHP，PHP编程，PHP博客，程序员" />
	<link rel="canonical" href="/" />
</head>
<body class="home blog ie layout-2cl">
	<!-- 头部 -->
	<div id="header">
		<div class="inner">
			<p class="welcome-message">梦醒人间看微雨 | 江山还似旧温柔</p>
			<div id="top-nav">
				<div class="menu-menu-container">
					<ul id="menu-menu" class="menu">
						<li>
							<a href="/index.php?s=/Home/Index/index.html" target="_self">首页</a>
						</li>
						<li>
							<a href="/index.php?s=/Home/Article/lists/category/technology.html" target="_self">技术随笔</a>
						</li>
						<li>
							<a href="/index.php?s=/Home/Article/lists/category/article.html" target="_self">文采飞扬</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /头部 -->